<nav class="navbar">
  <div class="navbar-left">
    <h1 class="logo"> AI-MovieLA</h1>
  </div>

  <div class="navbar-center">
   
    <div class="home hov"><a class="inl" href="/movie-la">Home</a></div>
    <div class="search hov"><a class="inl" href="/search">AI-Search</a></div>
    <div class="Moodboards hov"><a class="inl" href="/my">Moodboards</a></div>
    <div class="search hov"><a class="inl" href="/movie-la">Explore All</a></div>
    <div class="Moodboards hov"><a class="inl" href="/trending">Trending</a></div>
  </div>

  <div class="navbar-right">
    <a href="/signup" class="nav-btn">Sign Up</a>
    <a href="/login" class="nav-btn">Login</a>
  </div>
</nav>


<!-- <nav class="navbar">
  <div class="logo"> AI-MovieLA</div>

  <div class="search-container">
    <input type="text" placeholder="Search movies..." class="search-input" />
    <button class="search-btn">
      <i class="fas fa-search"></i> Search
    </button>
  </div>

  <div class="nav-actions">
    <a href="/login" class="nav-btn">Login</a>
    <a href="/signup" class="nav-btn">Sign Up</a>
  </div>
</nav> -->