


<% layout("/layouts/boilerplate") %> 

<div class="auth-box-container">
  <div class="auth-form">
    <h2>Welcome Back</h2>
    <p class="auth-subtitle">Elevate your cinematic experience</p>
    
    <form action="/login" method="POST">
      <div class="input-group">
        <input type="text" name="username" placeholder="Username" required />
        <i class="fa-solid fa-user"></i>
      </div>
      
      <div class="input-group">
        <input type="password" name="password" placeholder="Password" required />
        <i class="fa-solid fa-lock"></i>
      </div>
      
      <button type="submit">Login Now</button>
    </form>
    
    <div class="auth-toggle">
      Don't have an account? <a href="/signup">Sign Up</a>
    </div>
  </div>
</div>
 
